<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Phone Otp Verification
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

    <div class="ion-padding">
        <form class="ion-padding">
            <div class="wrap-input">
                <input class="input" type="number" [(ngModel)]="number" name="user-number" placeholder="Enter Your Mobile Number">
            </div>
            <div class="wrap-input">
                <input class="input" type="number" [(ngModel)]="code" name="verify-code" placeholder="Enter Verification code">
            </div>
            <div>
                <ion-button color="primary" (click)="sendOTP()">Send OTP</ion-button>
                <ion-button color="success" (click)="verify()">Verify</ion-button>
            </div>
        </form>
    </div>
</ion-content>
<ion-footer [translucent]="true">
    <ion-toolbar>
        <ion-title>

        </ion-title>
    </ion-toolbar>
</ion-footer>